<!-- build:include layout/header.html --><!-- /build -->
<!-- build:include layout/header/navbar.html --><!-- /build -->

<div class="ms-hero ms-hero-material">
    <span class="ms-hero-bg"></span>
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-6 col-12">
                <div id="carousel-hero" class="carousel slide carousel-fade" data-ride="carousel" data-interval="8000">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <div class="carousel-caption">
                                <div class="ms-hero-material-text-container">
                                    <header>
                                        <h2 class="animated fadeInLeft animation-delay-18">
                                            <img src="<%= assets %>/img/dart-logo-full-purple.svg" alt="D'Art Academy" title="D'Art Academy" class="img-responsive center-block">
                                            <div class="h-30"></div>
                                        </h2>
                                    </header>
                                    <ul class="ms-hero-material-list text-center">
                                        <li class="w-100">
                                            <div class="ms-list-text text-center animated fadeInRight animation-delay-19">
                                                <p class="color-primary-light">Si vives de la <span class="dart-yellow">Música</span> y</p>
                                                <p class="color-primary-light"><span class="dart-yellow">Bailas</span> a través de sus ritmos</p>
                                                <p class="color-primary-light">eres de los <span class="dart-yellow">Nuestros</span></p>
                                            </div>
                                        </li>
                                    </ul>
                                </div> <!-- ms-hero-material-text-container -->
                            </div>
                        </div>
                        <!--div class="carousel-item">
                            <div class="carousel-caption">
                                <div class="ms-hero-material-text-container">
                                    <header class="ms-hero-material-title animated slideInLeft animation-delay-5">
                                        <h1 class="animated fadeInLeft animation-delay-15">A template with <strong>infinite</strong> possibilities</h1>
                                        <h2 class="animated fadeInLeft animation-delay-18">Unlimited combinations to create <span class="color-warning">unique designs</span> .</h2>
                                    </header>

                                    <ul class="ms-hero-material-list">
                                        <li class="">
                                            <div class="ms-list-icon animated zoomInUp animation-delay-18">
                                                <span class="ms-icon ms-icon-circle ms-icon-xlg color-info shadow-3dp"><i class="zmdi zmdi-city"></i></span>
                                            </div>

                                            <div class="ms-list-text animated fadeInRight animation-delay-19">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, fugit sit nesciunt cum rerum iusto.</div>
                                        </li>
                                        <li class="">
                                            <div class="ms-list-icon animated zoomInUp animation-delay-20">
                                                <span class="ms-icon ms-icon-circle ms-icon-xlg color-royal shadow-3dp"><i class="zmdi zmdi-cake"></i></span>
                                            </div>

                                            <div class="ms-list-text animated fadeInRight animation-delay-21">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi laborum dignissimos fuga maxime facere.</div>
                                        </li>
                                        <li class="">
                                            <div class="ms-list-icon animated zoomInUp animation-delay-22">
                                                <span class="ms-icon ms-icon-circle ms-icon-xlg color-warning shadow-3dp"><i class="zmdi zmdi-coffee"></i></span>
                                            </div>

                                            <div class="ms-list-text animated fadeInRight animation-delay-23">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit sequi est repudianda.</div>
                                        </li>
                                    </ul>
                                    <div class="ms-hero-material-buttons text-right">
                                        <div class="ms-hero-material-buttons text-right">
                                            <a href="javascript:void(0);" class="btn btn-warning btn-raised animated fadeInLeft animation-delay-24 mr-2"><i class="zmdi zmdi-settings"></i> Personalize</a>
                                            <a href="javascript:void(0);" class="btn btn-success btn-raised animated fadeInRight animation-delay-24"><i class="zmdi zmdi-download"></i> Download</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div-->
                        <!--div class="carousel-item">
                            <div class="carousel-caption">
                                <div class="ms-hero-material-text-container">
                                    <header class="ms-hero-material-title animated slideInLeft animation-delay-5">
                                        <h1 class="animated fadeInLeft animation-delay-15">Commitment of <strong>monthly updates</strong>.</h1>
                                        <h2 class="animated fadeInLeft animation-delay-18">There will soon be a version for <span class="color-warning">Bootstrap 4</span>.</h2>
                                    </header>

                                    <ul class="ms-hero-material-list">
                                        <li class="">
                                            <div class="ms-list-icon animated zoomInUp animation-delay-18">
                                                <span class="ms-icon ms-icon-circle ms-icon-xlg color-danger shadow-3dp"><i class="zmdi zmdi-cutlery"></i></span>
                                            </div>

                                            <div class="ms-list-text animated fadeInRight animation-delay-19">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, fugit sit nesciunt cum rerum iusto.</div>
                                        </li>
                                        <li class="">
                                            <div class="ms-list-icon animated zoomInUp animation-delay-20">
                                                <span class="ms-icon ms-icon-circle ms-icon-xlg color-info shadow-3dp"><i class="zmdi zmdi-dns"></i></span>
                                            </div>

                                            <div class="ms-list-text animated fadeInRight animation-delay-21">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi laborum dignissimos fuga maxime facere.</div>
                                        </li>
                                        <li class="">
                                            <div class="ms-list-icon animated zoomInUp animation-delay-22">
                                                <span class="ms-icon ms-icon-circle ms-icon-xlg color-success shadow-3dp"><i class="zmdi zmdi-compass"></i></span>
                                            </div>

                                            <div class="ms-list-text animated fadeInRight animation-delay-23">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit sequi est repudianda.</div>
                                        </li>
                                    </ul>
                                    <div class="ms-hero-material-buttons text-right">
                                        <a href="javascript:void(0);" class="btn btn-warning btn-raised animated fadeInLeft animation-delay-24 mr-2"><i class="zmdi zmdi-settings"></i> Personalize</a>
                                        <a href="javascript:void(0);" class="btn btn-success btn-raised animated fadeInRight animation-delay-24"><i class="zmdi zmdi-download"></i> Download</a>
                                    </div>
                                </div>
                            </div>
                        </div-->

                        <div class="carousel-controls">
                            <!-- Controls -->
                            <a class="left carousel-control animated zoomIn animation-delay-30" href="#carousel-hero" role="button" data-slide="prev">
                                <i class="zmdi zmdi-chevron-left"></i>
                                <span class="sr-only">Previous</span>
                            </a>

                            <a class="right carousel-control animated zoomIn animation-delay-30" href="#carousel-hero" role="button" data-slide="next">
                                <i class="zmdi zmdi-chevron-right"></i>
                                <span class="sr-only">Next</span>
                            </a>

                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-hero" data-slide-to="0" class="animated fadeInUpBig animation-delay-27 active"></li>
                                <li data-target="#carousel-hero" data-slide-to="1" class="animated fadeInUpBig animation-delay-28"></li>
                                <li data-target="#carousel-hero" data-slide-to="2" class="animated fadeInUpBig animation-delay-29"></li>
                            </ol>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-xl-5 col-lg-6 d-lg-block d-none">
                <img src="<%= assets %>/img/dart-dancer.png" alt="D'Art Academy" title="D'Art Academy" class="ms-hero-img img-fluid center-block animated zoomInUp animation-delay-15">
            </div>

            <div class="col-12 d-lg-none">
                <img src="<%= assets %>/img/dart-dancer-up.png" alt="D'Art Academy" title="D'Art Academy" class="img-fluid center-block animated zoomInUp animation-delay-15">
            </div>
        </div>
    </div> <!-- container -->
</div> <!-- ms-hero ms-hero-black -->

<div class="container mt-4">
    <h2 class="dart-primary text-center mb-2 wow fadeInDown animation-delay-4">Nuestras Disciplinas</h2>
    <p class="lead text-center aco wow fadeInDown animation-delay-5 mw-800 center-block mb-4"> Acompáñanos a conocer algunas de nuestras maravillosas disciplinas artísticas y descubre junto a nosotros tu potencial.</p>
    <div class="row">

        <!-- Card PreBallet -->
        <div class="card-primary-inverse ms-feature col-xl-3 col-lg-6 col-md-6 card wow flipInX animation-delay-4">
            <div class="text-center card-body">
                <span class="ms-icon ms-icon-circle no-bg ms-icon-xxlg">
                    <img src="<%= assets %>/img/cat-preballet.svg" alt="Pre-Ballet" title="Pre-Ballet">
                </span>
                <h4 class="color-orange">Pre-Ballet</h4>
                <p class="">Iniciación a la danza clásica con la introducción gradual de las primeras rutinas de ballet.</p>
                <a href="javascript:void(0)" class="btn btn-raised" data-toggle="modal" data-target="#preBalletModal">Más información</a>
            </div>
        </div>

        <!-- Card ContemporaryDance -->
        <div class="card ms-feature col-xl-3 col-lg-6 col-md-6 card wow flipInX animation-delay-8">
            <div class="text-center card-body">
                <span class="ms-icon ms-icon-circle no-bg ms-icon-xxlg">
                    <img src="<%= assets %>/img/cat-dancer.svg" alt="Danza Contemporánea" title="Danza Contemporánea">
                </span>
                <h4 class="color-primary">Danza Contemporánea</h4>
                <p class="">Es una clase de danza en la que se busca expresar una idea, sentimiento o emoción.</p>
                <a href="javascript:void(0)" class="btn btn-bg-orange btn-raised color-text-primary" data-toggle="modal" data-target="#contemporaryModal">Más información</a>
            </div>
        </div>
        
        <!-- Card LatinRhythms -->
        <div class="card-orange-inverse ms-feature col-xl-3 col-lg-6 col-md-6 card wow flipInX animation-delay-10">
            <div class="text-center card-body">
                <span class="ms-icon ms-icon-circle no-bg ms-icon-xxlg color-success">
                    <img src="<%= assets %>/img/cat-quaver.svg" alt="Ritmos Latinos" title="Ritmos Latinos">
                </span>
                <h4 class="color-primary">Ritmos Latinos</h4>
                <p class="color-dark">Ritmos correspondientes a bailes y música, originarios de américa latina.</p>
                <a href="javascript:void(0)" class="btn btn-raised" data-toggle="modal" data-target="#latinRhythmsModal">Más información</a>
            </div>
        </div>

        <!-- Card DanceHealth -->
        <div class="ms-feature col-xl-3 col-lg-6 col-md-6 card wow flipInX animation-delay-6">
            <div class="text-center card-body">
                <span class="ms-icon ms-icon-circle no-bg ms-icon-xxlg  color-danger">
                        <img src="<%= assets %>/img/cat-health.svg" alt="Baile Salud" title="Baile Salud">
                </span>
                <h4 class="color-orange">Baile Salud</h4>
                <p class="">Dialogo entre la música y el cuerpo que favorece la estabilidad emocional y física.</p>
                <a href="javascript:void(0)" class="btn btn-primary btn-raised" data-toggle="modal" data-target="#danceHealthModal">Más información</a>
            </div>
        </div>

        <!-- Modal PreBallet -->
        <div class="modal" id="preBalletModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog animated zoomIn animated-3x" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title color-primary" id="myModalLabel"><strong>Pre-Ballet</strong></h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="zmdi zmdi-close"></i></span></button>
                        </div>
                        <div class="modal-body">
                            El preballet es la etapa de iniciación a la Danza Clásica, en ella se introduce gradualmente al estudio de las primeras rutinas del ballet, ayudando a que nuestras alumnas obtengan fuerza, flexibilidad, equilibrio y estilización de movimientos para luego ser utilizados en nuestros esquemas coreográficos.
                        </div>
                    </div>
                </div>
            </div>
    
            <!-- Modal ContemporaryDance -->
            <div class="modal" id="contemporaryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog animated zoomIn animated-3x" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title color-primary" id="myModalLabel"><strong>Danza Contemporánea</strong></h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="zmdi zmdi-close"></i></span></button>
                        </div>
                        <div class="modal-body">
                            La danza contemporánea es libertad, expresión sin necesidad de hablar, movimiento a través del sentimiento, busca constantemente la especialidad e innovación; tanto en la forma de los movimientos, como en las historias que quiere contar, le da una hoja en blanco al creador para expresarse.
                        </div>
                    </div>
                </div>
            </div>
    
            <!-- Modal LatinRhythms -->
            <div class="modal" id="latinRhythmsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog animated zoomIn animated-3x" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title color-primary" id="myModalLabel"><strong>Ritmos Latinos</strong></h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="zmdi zmdi-close"></i></span></button>
                        </div>
                        <div class="modal-body">
                            Expresión y puro sabor eso se siente al bailar, los amplios ritmos que nos regala nuestros diferentes ritmos latinos provenientes de sudamérica y que se extiende a todo el mundo para sumergirnos en un universo de ritmo desenfrenado.
                        </div>
                    </div>
                </div>
            </div>
    
            <!-- Modal DanceHealth -->
            <div class="modal" id="danceHealthModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog animated zoomIn animated-3x" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title color-primary" id="myModalLabel"><strong>Baile Salud</strong></h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="zmdi zmdi-close"></i></span></button>
                        </div>
                        <div class="modal-body">
                                Esta disciplina consiste en hacer ejercicios llevados al baile, lo que te permite relajarte, compartir, disfrutar de la música, ejercitarte y liberarte del estrés y la ansiedad. BaileSalud es un diálogo entre la música y el cuerpo que favorece la estabilidad emocional al elevar la producción de endorfinas, generando una sensación de placer y alegría con un impacto directo en los niveles de autoestima y motivación, no existe un género particular de música, sino que predominan ritmos latinos como la salsa, cumbia, merengue, reguetón, hip hop, bachata, rock and roll, samba, entre otros.
                        </div>
                    </div>
                </div>
            </div>
            
    </div>
</div>

<!-- Modal Mision -->
<div class="modal" id="misionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog animated zoomIn animated-3x" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title color-primary" id="myModalLabel"><strong>Misión</strong></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="zmdi zmdi-close"></i></span></button>
            </div>
            <div class="modal-body">
                Formar bailarines éticos con valores sociales y humanos, dotarlos de herramientas técnicas, tales como ritmo, fuerza, agilidad, expresión corporal y flexibilidad, para que através de su creatividad puedan desarrollar y explorar su mundo interno, expresando sus emociones y sentimientos a través del baile.
            </div>
        </div>
    </div>
</div>

<!-- Modal Vision -->
<div class="modal" id="visionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog animated zoomIn animated-3x" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title color-primary" id="myModalLabel"><strong>Visión</strong></h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="zmdi zmdi-close"></i></span></button>
                </div>
                <div class="modal-body">
                    Ser una academia de arte integral, donde se pueda impartir diferentes disciplinas musicales, escénicas y dancísticas con expansión en diferentes localidades a nivel nacional y en continuo crecimiento con la finalidad de tener un alcance mayor en los diferentes sectores del país y así brindar apoyo cultural y desarrollo artístico sobre la comunidad.
                </div>
            </div>
        </div>
    </div>

<!-- container -->
<div class="wrap wrap-mountain ms-bg-fixed mt-6">
    <div class="container">
        <h2 class="dart-primary color-primary text-center text-light mb-6 wow fadeInDown animation-delay-5"><strong>¿Quiénes Somos?</strong></h2>
        <div class="row">
                <span class="ms-hero-bg"></span>
            <div class="col-lg-6 order-lg-2 mb-4 img-fluid center-block">
                <img src="<%= assets %>/img/dancer.png" alt="D'Art Dancer" title="D'Art Dancer" class="img-responsive center-block wow zoomIn animation-delay-12">
            </div>
            <div class="col-lg-6 order-lg-1 pr-9">
                <p class="wow fadeInLeft animation-delay-6 text-justify">D'Art es una academia de baile dirigida a toda aquellas personas que viven la música y bailan a través de sus ritmos, con esto queremos decir que si eres de esas personas que escuchan música y ya quieren bailar eres de los nuestros.</p>
                <p class="wow fadeInLeft animation-delay-7 text-justify">D'art nace en Santiago de Chile en 2018 para entregar un aporte a la comunidad, sí un aporte de tiempo saludable, tiempo de desarrollo y aprendizaje a través del baile artístico para niños y niñas, en el cual podremos ayudar en su desarrollo personal, poniendo nuestro pequeño grano de arena para ayudar a superar el miedo escénico, timidez e inconformidad que puedan tener con ellos mismos, además reforzar un estilo de vida saludable de forma artísta y mucho mas divertida</p>
                <p class="wow fadeInLeft animation-delay-8 text-justify">Contamos con diversas disciplinas, entre ellas baile salud, la cual te ayudará a liberar estrés y ejercitarse saliendo de la rutina, con clases saludables y divertidas, junto a la asesoría y dirección de las mejores profesoras de baile, con una historia y formación ejemplar en todas estas rutinas, en éstas te brindamos la oportunidad de utilizar la mejor forma de quemar entre 500 y 600 calorías integrando circuitos aeróbicos, un total de 45 minutos de risas gritos y buenas vibras. Todo lo que necesitas para ejercitarte sin saber siquiera que lo haces.</p>                
                <p class="wow fadeInLeft animation-delay-9 text-justify">Si vives de la música y bailas a través de sus ritmos, eres de los nuestros, te esperamos en D'Art Academy para disfrutar de una experiencia inolvidable</p>
                <div class="text-center">
                    <a href="javascript:void(0)" class="btn btn-warning btn-raised mr-1 wow flipInX animation-delay-14" data-toggle="modal" data-target="#misionModal"><i class="zmdi zmdi-chart-donut"></i>Misión</a>
                    <a href="javascript:void(0)" class="btn btn-info btn-raised wow flipInX animation-delay-16" data-toggle="modal" data-target="#visionModal"><i class="zmdi zmdi-eye"></i> Visión</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-6">
    <div class="text-center mb-4">
        <h2 class="dart-primary color-primary">Planes de Inscripción</h2>
        <p class="lead">Aprovecha nuestros maravillosos precios de apertura</p>
    </div>
    <div class="row no-gutters">
        <div class="col-lg-4">
            <div class="price-table price-table-primary wow zoomInUp animation-delay-2">
                <header class="price-table-header">
                    <span class="price-table-category text-color-orange"><strong>Little Kids</strong></span>
                    <h3 class="text-color-orange"><sup>$</sup>39.990 <sub>/mensual</sub></h3>
                </header>
                <div class="price-table-body">
                    <ul class="price-table-list">
                        <li><i class="zmdi zmdi-repeat"></i>Clases de 3 días por Semana</li>
                        <li><i class="zmdi zmdi-calendar"></i>Lunes / Miércoles / Sábados</li>
                        <li><i class="zmdi zmdi-time"></i>17:00 - 18:00 y Sáb 09:00 - 10:00</li>
                        <li><i class="icon ion-md-contacts"></i>Niños y Niñas entre 2 y 5 años</li>
                        <li><i class="glyphicon glyphicon-piggy-bank"></i>Grandes ofertas en paquetes <span class="color-orange"><strong>Tú y Tu amig@</strong></span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="price-table price-table-orange prominent wow zoomInDown animation-delay-2">
                <header class="price-table-header">
                    <span class="price-table-category text-color-primary"><strong>Kids</strong></span>
                    <h3 class="text-color-primary"><sup>$</sup>39.990 <sub>/mensual</sub></h3>
                </header>
                <div class="price-table-body">
                    <ul class="price-table-list">
                        <li><i class="zmdi zmdi-repeat"></i>Clases de 3 días por Semana</li>
                        <li><i class="zmdi zmdi-calendar"></i>Lunes / Miércoles / Sábados</li>
                        <li><i class="zmdi zmdi-time"></i>18:00 - 19:00 y Sáb 10:00 - 11:00</li>
                        <li><i class="icon ion-md-contacts"></i>Niños y Niñas entre 6 y 14 años</li>
                        <li><i class="glyphicon glyphicon-piggy-bank"></i>Grandes ofertas en paquetes <span class="color-primary"><strong>Tú y Tu amig@</strong></span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="price-table price-table-primary wow zoomInUp animation-delay-2">
                <header class="price-table-header">
                    <span class="price-table-category text-color-orange"><strong>Baile Salud</strong></span>
                    <h3 class="text-color-orange"><sup>$</sup>12.990 <sub>/mensual</sub></h3>
                </header>
                <div class="price-table-body">
                    <ul class="price-table-list">
                        <li><i class="zmdi zmdi-repeat"></i>Clases de 3 días por Semana</li>
                        <li><i class="zmdi zmdi-calendar"></i>Lunes / Miércoles / Sábados</li>
                        <li><i class="zmdi zmdi-time"></i>19:00 - 20:00 y Sáb 11:00 - 12:00</li>
                        <li><i class="icon ion-md-people"></i>Todas las edades</li>
                        <li><i class="glyphicon glyphicon-piggy-bank"></i>Grandes ofertas en paquetes <span class="color-orange"><strong>Tú y Tu amig@</strong></span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- build:include layout/footer/footbar.html --><!-- /build -->
<!-- build:include layout/footer/foot.html --><!-- /build -->

</div> <!-- ms-site-container -->

<!-- build:include layout/slidebar.html --><!-- /build -->
<!-- build:include layout/footer/scripts.html --><!-- /build -->
<script src="<%= assets %>/js/index.js"></script>

</body>
</html>
