<!-- build:include layout/header.html --><!-- /build -->

<div class="ms-hero ms-hero-material">
    <span class="ms-hero-bg"></span>
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-7">
                <div id="carousel-hero" class="carousel slide carousel-fade" data-ride="carousel" data-interval="8000">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <div class="carousel-caption">
                                <div class="ms-hero-material-text-container">
                                    <header class="ms-hero-material-title animated slideInLeft animation-delay-5">
                                        <h1 class="animated fadeInLeft animation-delay-15 font-smoothing">Bienvenidos a <span class="color-danger">D'Art Academy</span></h1>
                                    </header>

                                    <ul class="ms-hero-material-list">
                                        <li class="">
                                            <div class="ms-list-icon animated zoomInUp animation-delay-18">
                                                <span class="ms-icon ms-icon-circle ms-icon-xlg color-warning shadow-3dp"><img src="<%= assets %>/img/d-icon.svg" alt="D'Art Academy" title="D'Art Academy"></span>
                                            </div>
                                            
                                            <div class="ms-list-text animated fadeInRight animation-delay-19">Diversión, bienestar y profesionalismo para ti y tu familia</div>
                                        </li>
                                        <li class="">
                                            <div class="ms-list-icon animated zoomInUp animation-delay-20">
                                                <span class="ms-icon ms-icon-circle ms-icon-xlg color-primary shadow-3dp"><img src="<%= assets %>/img/dancer-icon.svg" alt="Bailarina D'Art" title="Bailarina D'Art"></span>
                                            </div>

                                            <div class="ms-list-text animated fadeInRight animation-delay-21">Coreografías, bailes modernos, danza comtemporánea, ballet, ritmos latinos y mucho mas...</div>
                                        </li>
                                        <li class="">
                                            <div class="ms-list-icon animated zoomInUp animation-delay-22">
                                                <span class="ms-icon ms-icon-circle ms-icon-xlg color-info shadow-3dp"><img src="<%= assets %>/img/heart-icon.svg" alt="D'Art Saludable" title="D'Art Saludable"></span>
                                            </div>

                                            <div class="ms-list-text animated fadeInRight animation-delay-23">Ejercitarse a través del baile es felicidad, no sólo ejercita tu cuerpo, también ejercita tu mente trayendo bienestar.</div>
                                        </li>
                                    </ul>
                                    
                                    <div class="card card-primary animated zoomInUp animation-delay-40">
                                        <div class="card-body">Todo esto y mucho mas es D'Art Academy</div>
                                    </div>
                                </div> <!-- ms-hero-material-text-container -->
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <div class="col-xl-6 col-lg-5">
                <div class="ms-hero-img animated zoomInUp animation-delay-30">
                    <img src="<%= assets %>/img/dart-full-bg.svg" alt="D'Art Academy" title="D'Art Academy" class="img-fluid">
                </div>
            </div>
        </div>
    </div> <!-- container -->
</div> <!-- ms-hero ms-hero-black -->

<div class="container mt-4">
    <h2 class="text-center color-primary mb-2 wow fadeInDown animation-delay-4">Nuestras Disciplinas</h2>
    <p class="lead text-center aco wow fadeInDown animation-delay-5 mw-800 center-block mb-4"> Acompáñanos a conocer algunas de nuestras maravillosas disciplinas artísticas y descubre junto a nosotros tu potencial.</p>
    <div class="row">
        <!-- Modal PreBallet -->
        <div class="modal" id="preBalletModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog animated zoomIn animated-3x" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title color-primary" id="myModalLabel"><strong>Pre-Ballet</strong></h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="zmdi zmdi-close"></i></span></button>
                    </div>
                    <div class="modal-body">
                        El preballet es la etapa de iniciación a la Danza Clásica, en ella se introduce gradualmente al estudio de las primeras rutinas del ballet, ayudando a que nuestras alumnas obtengan fuerza, flexibilidad, equilibrio y estilización de movimientos para luego ser utilizados en nuestros esquemas coreográficos.
                    </div>
                </div>
            </div>
        </div>

        <div class="ms-feature col-xl-3 col-lg-6 col-md-6 card wow flipInX animation-delay-4">
            <div class="text-center card-body">
                <span class="ms-icon ms-icon-circle ms-icon-xxlg color-info"><i class="zmdi zmdi-cloud-outline"></i></span>
                <h4 class="color-info">Pre-Ballet</h4>
                <p class="">Iniciación a la danza clásica con la introducción gradual de las primeras rutinas de ballet.</p>
                <a href="javascript:void(0)" class="btn btn-info btn-raised" data-toggle="modal" data-target="#preBalletModal">Más información</a>
            </div>
        </div>

        <!-- Modal ContemporaryDance -->
        <div class="modal" id="contemporaryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog animated zoomIn animated-3x" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title color-primary" id="myModalLabel"><strong>Danza Contemporánea</strong></h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="zmdi zmdi-close"></i></span></button>
                    </div>
                    <div class="modal-body">
                        La danza contemporánea es libertad, expresión sin necesidad de hablar, movimiento a través del sentimiento, busca constantemente la especialidad e innovación; tanto en la forma de los movimientos, como en las historias que quiere contar, le da una hoja en blanco al creador para expresarse.
                    </div>
                </div>
            </div>
        </div>

        <div class="ms-feature col-xl-3 col-lg-6 col-md-6 card wow flipInX animation-delay-8">
            <div class="text-center card-body">
                <span class="ms-icon ms-icon-circle ms-icon-xxlg color-warning"><i class="zmdi zmdi-desktop-mac"></i></span>
                <h4 class="color-warning">Danza Contemporánea</h4>
                <p class="">Es una clase de danza en la que se busca expresar una idea, sentimiento o emoción.</p>
                <a href="javascript:void(0)" class="btn btn-warning btn-raised" data-toggle="modal" data-target="#contemporaryModal">Más información</a>
            </div>
        </div>

        <!-- Modal LatinRhythms -->
        <div class="modal" id="latinRhythmsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog animated zoomIn animated-3x" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title color-primary" id="myModalLabel"><strong>Ritmos Latinos</strong></h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="zmdi zmdi-close"></i></span></button>
                    </div>
                    <div class="modal-body">
                        Expresión y puro sabor eso se siente al bailar, los amplios ritmos que nos regala nuestros diferentes ritmos latinos provenientes de sudamérica y que se extiende a todo el mundo para sumergirnos en un universo de ritmo desenfrenado.
                    </div>
                </div>
            </div>
        </div>

        <div class="ms-feature col-xl-3 col-lg-6 col-md-6 card wow flipInX animation-delay-10">
            <div class="text-center card-body">
                <span class="ms-icon ms-icon-circle ms-icon-xxlg color-success"><i class="zmdi zmdi-download"></i></span>
                <h4 class="color-success">Ritmos Latinos</h4>
                <p class="">Ritmos correspondientes a bailes y música, originarios de américa latina.</p>
                <a href="javascript:void(0)" class="btn btn-success btn-raised" data-toggle="modal" data-target="#latinRhythmsModal">Más información</a>
            </div>
        </div>

        <!-- Modal DanceHealth -->
        <div class="modal" id="danceHealthModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog animated zoomIn animated-3x" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title color-primary" id="myModalLabel"><strong>Baile Salud</strong></h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="zmdi zmdi-close"></i></span></button>
                    </div>
                    <div class="modal-body">
                            Esta disciplina consiste en hacer ejercicios llevados al baile, lo que te permite relajarte, compartir, disfrutar de la música, ejercitarte y liberarte del estrés y la ansiedad. BaileSalud es un diálogo entre la música y el cuerpo que favorece la estabilidad emocional al elevar la producción de endorfinas, generando una sensación de placer y alegría con un impacto directo en los niveles de autoestima y motivación, no existe un género particular de música, sino que predominan ritmos latinos como la salsa, cumbia, merengue, reguetón, hip hop, bachata, rock and roll, samba, entre otros.
                    </div>
                </div>
            </div>
        </div>

        <div class="ms-feature col-xl-3 col-lg-6 col-md-6 card wow flipInX animation-delay-6">
            <div class="text-center card-body">
                <span class="ms-icon ms-icon-circle ms-icon-xxlg  color-danger"><i class="zmdi zmdi-flower-alt"></i></span>
                <h4 class="color-danger">Baile Salud</h4>
                <p class="">Dialogo entre la música y el cuerpo que favorece la estabilidad emocional y física.</p>
                <a href="javascript:void(0)" class="btn btn-danger btn-raised" data-toggle="modal" data-target="#danceHealthModal">Más información</a>
            </div>
        </div>
    </div>
</div>

<!-- Modal Mision -->
<div class="modal" id="misionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog animated zoomIn animated-3x" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title color-primary" id="myModalLabel"><strong>Misión</strong></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="zmdi zmdi-close"></i></span></button>
            </div>
            <div class="modal-body">
                Formar bailarines éticos con valores sociales y humanos, dotarlos de herramientas técnicas, tales como ritmo, fuerza, agilidad, expresión corporal y flexibilidad, para que através de su creatividad puedan desarrollar y explorar su mundo interno, expresando sus emociones y sentimientos a través del baile.
            </div>
        </div>
    </div>
</div>

<!-- Modal Vision -->
<div class="modal" id="visionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog animated zoomIn animated-3x" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title color-primary" id="myModalLabel"><strong>Visión</strong></h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="zmdi zmdi-close"></i></span></button>
                </div>
                <div class="modal-body">
                    Ser una academia de arte integral, donde se pueda impartir diferentes disciplinas musicales, escénicas y dancísticas con expansión en diferentes localidades a nivel nacional y en continuo crecimiento con la finalidad de tener un alcance mayor en los diferentes sectores del país y así brindar apoyo cultural y desarrollo artístico sobre la comunidad.
                </div>
            </div>
        </div>
    </div>

<!-- container -->
<!--div class="wrap wrap-mountain ms-bg-fixed mt-6">
    <div class="container">
        <h2 class="color-danger text-center text-light mb-6 wow fadeInDown animation-delay-5"><strong>¿Quiénes Somos?</strong></h2>
        <div class="row">
            <div class="col-lg-6 order-lg-2 mb-4  center-block">
                <img src="<%= assets %>/img/dancer.png" alt="D'Art Dancer" height="450px" title="D'Art Dancer" class="enter-block wow zoomIn animation-delay-12">
            </div>
            <div class="col-lg-6 order-lg-1 pr-6">
                <p class="wow fadeInLeft animation-delay-6">D'Art es una academia integral que nace de un sueño y una pasión </p>
                <p class="wow fadeInLeft animation-delay-7"></p>
                <p class="wow fadeInLeft animation-delay-8">Si vives de la música y bailas a través de sus ritmos, eres de los nuestros</p>
                <div class="text-center">
                    <a href="javascript:void(0)" class="btn btn-warning btn-raised mr-1 wow flipInX animation-delay-14" data-toggle="modal" data-target="#misionModal"><i class="zmdi zmdi-chart-donut"></i>Misión</a>
                    <a href="javascript:void(0)" class="btn btn-info btn-raised wow flipInX animation-delay-16" data-toggle="modal" data-target="#visionModal"><i class="zmdi zmdi-eye"></i> Visión</a>
                </div>
            </div>
        </div>
    </div>
</div-->
<div class="container mt-6">
    <div class="text-center mb-4">
        <h2 class="uppercase color-primary">Planes de Inscripción</h2>
        <p class="lead uppercase">Aprovecha nuestros maravillosos precios de apertura</p>
    </div>
    <div class="row no-gutters">
        <div class="col-lg-4">
            <div class="price-table price-table-info wow zoomInUp animation-delay-2">
                <header class="price-table-header">
                    <span class="price-table-category"><strong>Little Kids</strong></span>
                    <h3><sup>$</sup>39.990 <sub>/mensual</sub></h3>
                </header>
                <div class="price-table-body">
                    <ul class="price-table-list">
                        <li><i class="zmdi zmdi-repeat"></i>Clases de 3 días por Semana</li>
                        <li><i class="zmdi zmdi-calendar"></i>Lunes / Miércoles / Sábados</li>
                        <li><i class="zmdi zmdi-time"></i>17:00 - 18:00 y Sáb 09:00 - 10:00</li>
                        <li><i class="icon ion-md-contacts"></i>Niños y Niñas entre 2 y 5 años</li>
                        <li><i class="glyphicon glyphicon-piggy-bank"></i>Grandes ofertas en paquetes <span class="color-danger"><strong>Tú y Tu amig@</strong></span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="price-table price-table-success prominent wow zoomInDown animation-delay-2">
                <header class="price-table-header">
                    <span class="price-table-category"><strong>Kids</strong></span>
                    <h3><sup>$</sup>39.990 <sub>/mensual</sub></h3>
                </header>
                <div class="price-table-body">
                    <ul class="price-table-list">
                        <li><i class="zmdi zmdi-repeat"></i>Clases de 3 días por Semana</li>
                        <li><i class="zmdi zmdi-calendar"></i>Lunes / Miércoles / Sábados</li>
                        <li><i class="zmdi zmdi-time"></i>18:00 - 19:00 y Sáb 10:00 - 11:00</li>
                        <li><i class="icon ion-md-contacts"></i>Niños y Niñas entre 6 y 14 años</li>
                        <li><i class="glyphicon glyphicon-piggy-bank"></i>Grandes ofertas en paquetes <span class="color-danger"><strong>Tú y Tu amig@</strong></span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="price-table price-table-warning wow zoomInUp animation-delay-2">
                <header class="price-table-header">
                    <span class="price-table-category"><strong>Baile Salud</strong></span>
                    <h3><sup>$</sup>12.990 <sub>/mensual</sub></h3>
                </header>
                <div class="price-table-body">
                    <ul class="price-table-list">
                        <li><i class="zmdi zmdi-repeat"></i>Clases de 3 días por Semana</li>
                        <li><i class="zmdi zmdi-calendar"></i>Lunes / Miércoles / Sábados</li>
                        <li><i class="zmdi zmdi-time"></i>19:00 - 20:00 y Sáb 11:00 - 12:00</li>
                        <li><i class="icon ion-md-people"></i>Todas las edades</li>
                        <li><i class="glyphicon glyphicon-piggy-bank"></i>Grandes ofertas en paquetes <span class="color-danger"><strong>Tú y Tu amig@</strong></span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- build:include layout/footer/footbar.html --><!-- /build -->
<!-- build:include layout/footer/foot.html --><!-- /build -->

</div> <!-- ms-site-container -->

<!-- build:include layout/slidebar.html --><!-- /build -->
<!-- build:include layout/footer/scripts.html --><!-- /build -->
<script src="<%= assets %>/js/index.js"></script>

</body>
</html>
