
<header class="ms-header <%= headerClass %>"> <!--<%= headerClass %>-->
    <div class="container container-full">
        <div class="ms-title">
            <a href="index.html">
                <h2 class="animated fadeInRight animation-delay-6"><img class="ms-logo" src="<%= assets %>/img/dart-logo-white.svg" alt="D'Art Academy" title="D'Art Academy"></h2>
            </a>
        </div>
        <div class="header-right">
            <div class="share-menu">
                <ul class="share-menu-list">
                    <li class="animated fadeInRight animation-delay-2">
                            <a href="https://www.facebook.com/DArt-Academy-245951869442915" target="_blank" class="btn-circle btn-facebook color-orange">
                                <img src="<%= assets %>/img/facebook-icon.svg" alt="Facebook D'Art" title="Facebook D'Art">
                            </a>
                    </li>
                    <!--li class="animated fadeInRight animation-delay-2"><a href="https://twitter.com/Dartacademycl?s=08" target="_blank" class="btn-circle btn-twitter"><i class="zmdi zmdi-twitter"></i></a></li-->
                    <li class="animated fadeInRight animation-delay-1">
                            <a href="https://www.instagram.com/dart.academycl" target="_blank" class="btn-circle btn-instagram color-orange">
                                <img src="<%= assets %>/img/instagram-icon.svg" alt="Facebook" title="Facebook">
                            </a>
                    </li>
                </ul>
                <a href="javascript:void(0)" class="btn-circle btn-circle-orange color-orange animated zoomInDown animation-delay-7">
                    <img src="<%= assets %>/img/share-icon.svg" alt="...">
                </a>
                <!--img href="javascript:void(0)" class="btn-circle btn-circle-raised ms-feature animated zoomInDown animation-delay-7" src="<%= assets %>/img/yellow-share.svg" alt="D'Art Academy" title="D'Art Academy"-->
            </div>
        </div>
    </div>
</header>
