<footer class="ms-footer">
    <div class="container">
        <p>Copyright &copy; D'Art Academy 2018 - Developed by <a href="mailto:edwin.mperez1@gmail.com" class="dart-primary">Edwin Pérez</a> and Design by <a href="mailto:dsgnmichael@gmail.com" class="dart-primary">Michael Design</a></p>
    </div>
</footer>

<div class="btn-back-top">
    <a href="#" data-scroll id="back-top" class="btn-circle btn-circle-orange color-orange btn-circle-sm btn-circle-raised">
        <img src="<%= assets %>/img/up-icon.svg" alt="...">
    </a>
</div>
