<aside class="ms-footbar">
    <div class="container">
        <div class="row">
            
            <div class="col-lg-9 col-md-7 ms-footer-col ms-footer-alt-color">
                <div class="ms-footbar-block">
                    <h3 class="dart-yellow ms-footbar-title text-center mb-2">¿Dónde estamos?</h3>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3328.99992131813!2d-70.64687458445188!3d-33.44930858077425!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662c574ba02b7ff%3A0xbc7975e5625e9b8e!2sAv.+Sta.+Rosa+377%2C+Santiago%2C+Regi%C3%B3n+Metropolitana!5e0!3m2!1ses!2scl!4v1539831538703" width="100%" height="340" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-lg-3 col-md-5 ms-footer-col ms-footer-text-right">
                <div class="ms-footbar-block">
                        <h3 class="dart-yellow ms-footbar-title">Contáctanos</h3>
                    <address class="no-mb">
                        <p>Santiago de Chile <i class="color-danger-light zmdi zmdi-pin ml-1"></i></p>
                        <p>Av. Sta. Rosa 377 <i class="color-warning-light zmdi zmdi-map ml-1"></i></p>
                        <p><a href="mailto:contacto@dart-academy.cl">contacto@dart-academy.cl</a> <i class="color-info-light zmdi zmdi-email ml-1"></i></p>
                        <p><a href="tel:+56978148353">+56 9 7814 8353</a> <i class="color-royal-light zmdi zmdi-phone ml-1"></i></p>
                        <p><a href="https://api.whatsapp.com/send?phone=56978148353&text=Hola, deseo tener mas información sobre D'Art Academy y lo que ofrecen">+56 9 7814 8353</a> <i class="color-success-light icon ion-logo-whatsapp ml-1"></i></p>
                    </address>
                </div>

                <div class="ms-footbar-block">
                    <h3 class="dart-yellow ms-footbar-title">Redes Sociales</h3>
                    <div class="ms-footbar-social">
                        <a href="https://www.facebook.com/DArt-Academy-245951869442915" target="_blank" class="btn-circle btn-facebook color-orange">
                            <img src="<%= assets %>/img/facebook-icon.svg" alt="Facebook D'Art" title="Facebook D'Art">
                        </a>
                        
                        <a href="https://www.instagram.com/dart.academycl" target="_blank" class="btn-circle btn-instagram color-orange">
                            <img src="<%= assets %>/img/instagram-icon.svg" alt="Facebook" title="Facebook">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</aside>
