
<!-- build:js <%=assets%>/js/plugins.min.js -->
    <script src="<%= assets %>/js/jquery.min.js"></script>
    <script src="<%= assets %>/js/bootstrap.min.js"></script>
    <script src="<%= assets %>/js/wow.min.js"></script>
<!-- /build -->

<!-- build:js:dist,navbar,demo <%=assets%>/js/app.min.js -->
    <script src="<%= assets %>/js/ripples.js"></script>
    <script src="<%= assets %>/js/material.js"></script>
    <script src="<%= assets %>/js/tabs.js"></script>
    <script src="<%= assets %>/js/DropdownHover.js"></script>
    <script src="<%= assets %>/js/app.js"></script>
<!-- /build -->

<!-- build:js:demo <%=assets%>/js/configurator.min.js --><!-- /build -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-127744434-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-127744434-1');
</script>